@media all and (min-width: 910px) {
  /* Big screens */
  .comments {
  background-color: #eafaf5;
  height: 100vh !important;
    overflow-y: scroll !important;
    overflow-x: hidden;
  }
}
@media all and (max-width: 350px) {
  .likeCommentImg {
    width: 5em !important;
  }
  .thumbImg {
    width: 1.3em !important;
  }
}

/*
 * Container
 */

.comments {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin: 2em 0;
  align-items: center;
  width: 90%;
  border-radius: 5px;
  padding: 1em 0.5em;
  gap: 1em;
}
.commentsWithoutContainer {
  display: flex;
  flex-direction: column;
  margin: 2em 0;
  align-items: center;
  width: 90%;
  padding: 1em 0.5em;
  gap: 1em;
}

.commentsTitle {
  color: var(--dark-popotes);
}

/*
 * Scrollbar
 */
.comments::-webkit-scrollbar {
  width: 10px;
}
.comments::-webkit-scrollbar-track {
  margin: 2em;
  background-color: var(--white);
  border-radius: 25px;
}
.comments::-webkit-scrollbar-thumb {
  border-radius: 25px;
  background-color: var(--popotes);
}
.comments::-webkit-scrollbar-thumb:hover {
  background-color: var(--dark-popotes);
  cursor: pointer !important;
}
.comments ::selection {
  color: var(--white);
  background: var(--dark-popotes);
}
/*
 * Global
 */

.comment {
  border-radius: 30px;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1em;
  gap: 1em;
}
.authorComment {
  background-color: #007c576b;
  margin: 0;
}
.notAuthorComment {
  background-color: #00ffb34f;
}

/*
 * Header
 */
.commentHeader {
  width: 100%;
  font-family: "Oswald", sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.commentTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.pseudoComment {
  cursor: pointer;
  font-weight: bolder;
  color: var(--dark-popotes);
  font-size: 1.4em;
}
.pseudoAuthorComment {
  cursor: pointer;
  font-weight: bolder;
  color: var(--popotes);
  filter: drop-shadow(1px 0px 1px var(--dark-popotes));
  font-size: 1.4em;
}
.pseudoComment:hover,
.pseudoAuthorComment:hover {
text-decoration: underline;
}
.commentInfos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: var(--light-text);
}

.likeCommentImg {
  height: 100%;
  width: 7em;
}

.commentDate {
  margin: 0 0.5em;
  font-size: 0.7em;
  color: #525252;
}

.commentContent {
  text-align: justify;
  color: var(--dark-text);
  width: 80%;
}
