@media all and (max-width: 810px) {
  .filters {
    width: 87%;
  }
}
@media all and (max-width: 550px) {
  .searchPopote {
    width: 15em !important;
  }}
.lapopote {
  cursor: pointer;
  color: var(--popote);
}

.activePopote {
  background-color: var(--popote);
}
.activePopote:hover {
  background-color: #f5a76cb2;
}

.popoteSubdivision {
  display: flex;
  flex-direction: column;
  padding-top: 1.2em;
  gap: 1em;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.loaderBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
}
.loaderSpacer {
  height: 4em;
}

/*
 * SearchBar
 */
.searchPopote {
  display: flex;
  align-items: center;
  padding: 0 .5em 0 0;
  width: 25em;
  height: 2em;
  border: 3px solid var(--popote);
  border-radius: 30px;
  background-color: white;
}
.searchIcon {
  width: 1.3em;
  height: 1.3em;
  margin-left: 0.5em;
  background-image: url(../../assets/icons/search-512.png);
  background-size: 1.3em;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.resetInput {
  width: 1em;
  height: 1em;
  background-image: url(../../assets/icons/delete-512.png);
  background-size: 1em;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.searchBar {
  width: 90%;
  height: 80%;
  outline: none;
  border: none;
  background-color: white;
  border-radius: 0 15px 15px 0;
  margin-left: 0.2em;
}
.searchBar:focus-within {
  outline: none;
  border: none;
}
.searchPopote:hover {
  box-shadow: 1px 1px 8px 1px #dcdcdc;
}
.searchPopote:focus-within {
  box-shadow: 1px 1px 8px 1px #dcdcdc;
  outline: none;
}

/*
 * Filters boxes
 */

 .showPopoteFilters {
  cursor: pointer;
  font-family: "Oswald", sans-serif;
  background-color: var(--popote);
  padding: 0 1em;
  margin-bottom: 0.5em;
  border-radius: 5px;
  color: var(--dark);
  border: 1px solid var(--dark-popote);
}
.showPopoteFilters:hover {
  background-color: #ffc251a4;
}

.filters {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.7em;
  color: var(--dark-text);
  font-size: 0.9em;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
}

/* 
 * Create a custom checkbox
 */
input[type="checkbox"] {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}
.check {
  display: flex;
  height: 1.2em;
  width: 1.2em;
  background: #fff;
  margin-right: 0.2em;
  border-radius: 4px;
  border: 2px var(--popote) solid;
}
.check--active {
  background: var(--popote);
}
.check:hover {
  box-shadow: 1px 1px 8px 1px #dcdcdc;
  cursor: pointer;
}

/*
 * Create recipe
 */
.popoteButton {
  cursor: pointer;
  padding: 0.4em 1em;
  color: var(--white);
  font-weight: bolder;
  font-size: 1.2em;
  background-color: var(--dark-popote);
  border-radius: 30px;
  border: none;
  box-shadow: 1px 1px 8px 1px #dcdcdc;
}
.popoteButton:hover {
  box-shadow: 1px 1px 7px 1px #858282;
}


.prevButtonPopote,
.nextButtonPopote {
  cursor: pointer;
  background-color: var(--dark-popote);
  font-family: 'Oswald', sans-serif;
  padding: 0 1em 0.2em;
  border-radius: 3px;
  color: var(--white);
  width: 4em;
  text-align: center;
  box-shadow: 0px 1px 5px grey;
}