@media all and (min-width: 810px) {
  /* Big screens */
  .ingredientsTable {
    width: 70% !important;
  }
  .recipeInfos {
    width: 45% !important;
  }
}
@media all and (max-width: 400px) {
  .ingredientsTH {
    font-size: 1em !important;
  }
}

.recipePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 2em;
}
.recipeContainer {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2em 0;
  width: 90%;
  padding-bottom: 1.5em;
  height: fit-content;
  overflow: hidden;
  border: 2px solid var(--dark-popote);
  border-radius: 30px;
}

/*
 * recipeTitles
 */

.recipeTitle {
  font-size: 2em;
  width: 12ch;
  padding: 0.5em 0;
  color: var(--dark-popote);
}
.doneBy {
  font-size: 0.9em;
  width: 80%;
  color: var(--dark-popotes);
  text-align: end;
  font-style: italic;
  margin: 0.5em 0;
}

/*
 * recipeInfos
 */
.recipeInfos {
  font-size: 1.3em;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  margin-bottom: 1em;
}

.nbpersImg {
  width: 1.5em;
}

.diffnote {
  width: 80%;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 0.5em;
  color: var(--dark-popote);
}

.tags {
  margin: 0;
  font-size: 0.7em;
  color: var(--popote);
}

.times {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  font-size: 0.8em;
}

.time {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.lighttext {
  color: var(--light-text);
}
.valuedark {
  color: var(--dark-popote);
}
.value {
  color: var(--popote);
}

/*
 * ingredients
 */

.ingredientsTable {
  width: 90%;
  margin: 1em 0;
  text-align: left;
}
.ingredientsTable tbody td {
  padding-left: 0.7em;
  border-radius: 3px;
}
.ingredientsTable tbody tr:hover {
  background-color: var(--popote);
  color: var(--white);
}
.ingredientsTH {
  font-size: 1.2em;
  color: var(--dark-popote);
}

.removeButtonIngredient {
  background-image: url("../../assets/icons/moins-512.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  width: 1.5em;
  height: 1.5em;
  padding: 0.2em 0;
}

/*
 * steps
 */
.stepTitle {
  color: var(--dark-popote);
  font-weight: bolder;
  font-size: 1.3em;
}
.steps {
  margin: 1em 0;
  width: 80%;
  text-align: justify;
}

/*
 * Comment
 */
.recipeComment {
  margin: 1em 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.recipeComment h3 {
  margin: 0;
  color: var(--popote);
}
.recipeComment p {
  color: var(--light-text);
  font-style: italic;
  text-align: start;
  width: 80%;
}
