@import url(https://fonts.googleapis.com/css?family=Rubik);
@import url(https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap);

@media all and (max-width: 380px) {
  .itemContainer {
    width: 80% !important;
  }
}
@media all and (max-width: 550px) {
  .itemContainer {
    font-size: 0.8em !important;
    flex-wrap: nowrap;
  }
}

.itemContainer {
  width: 20ch;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.1em;
  color: var(--dark);
  justify-content: space-between;
  padding: 0.3em;
  align-items: center;
  border-radius: 20px;
  background-color: var(--popotes);
  border: 2px solid var(--dark-popotes);
  transition: all 0.2s ease-in-out;
}
.itemContainer:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px grey;
}
.left,
.right {
  display: flex;
  flex-direction: column;
}
.left {
  padding-left: 1em;
  font-family: "Oswald", sans-serif;
  justify-content: space-between;
  align-items: flex-start;
}
.right {
  justify-content: center;
}

.avatar {
  width: 4.5em;
  height: 4.5em;
  filter: drop-shadow(0 0 5px var(--dark));
}

.names {
  display: flex;
  flex-direction: column;
}
.pseudo {
  color: var(--dark);
  font-weight: bolder;
  font-size: 1.3em;
}
.type {
  color: var(--light-text);
  width: max-content;
}

.popotelevel {
  color: var(--dark-popotes);
  font-family: "Oswald", sans-serif;
}
