@import url(https://fonts.googleapis.com/css?family=Rubik);
@import url(https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Courgette&display=swap);

@media all and (max-width: 810px) {
  .links,
  .navlink {
    height: 2.5em;
    font-size: 1em !important;
  }
}

:root {
  padding: 0;
  margin: 0;
  --switch: #2c2a3a;
  --popotes: #78f5ca;
  --dark-popotes: #00be7c;
  --popote: #f5a76c;
  --dark-popote: #e76400;
  --white: #fcfaf6;
  --dark: #2c2a3a;
  --dark-text: #2c2c2c;
  --light-text: #9c9c9c;
}

/*
 * Popote selection
 */
.recipePage ::selection {
  color: var(--white);
  background: var(--dark-popote);
}
.recipePage ::-moz-selection {
  color: var(--white);
  background: var(--dark-popote);
}
/*
 * Popotes selection
 */
.myprofileBody ::selection {
  color: var(--white);
  background: var(--dark-popotes);
}
.myprofileBody ::-moz-selection {
  color: var(--white);
  background: var(--dark-popotes);
}

html {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: "Rubik";
  overflow-x: hidden;
  min-height: 90vh;
}
tr {
  height: 2.5em;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--popotes);
}
.avatar {
  cursor: pointer;
  position: relative;
  top: -0.3em;
}
/*
 * Scrollbar
 */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: var(--white);
}
::-webkit-scrollbar-thumb {
  background-color: #3d3d42;
}
::-webkit-scrollbar-thumb:hover {
  cursor: pointer !important;
  background-color: #39364d;
}

/**
 * Body
 */

.headerContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.title {
  padding: 0 0 0.5em;
  box-shadow: inset 0px -7px 9px -3px black;
  word-spacing: 0.1em;
  font-family: "Oswald", sans-serif;
  font-size: 3em;
  font-weight: 400;
  margin: 1.3em 0 0 0;
  width: 100%;
  background-color: var(--dark);
}

.links,
.navlink {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #adaaaa44;
  font-family: "Oswald", sans-serif;
  font-size: 1.3em;
  font-weight: 300;
  color: var(--dark);
  border-right: 1px solid var(--dark);
  border-left: 1px solid var(--dark);
}
@media all and (min-width: 810px) {
  .navlink:hover {
    background-color: #ffffff0a;
  }
}
/*
* Separate lines
*/
.separatePopote {
  width: 80%;
  height: 1px;
  background-color: var(--popote);
}
.separatePopotes {
  width: 80%;
  height: 1px;
  background-color: var(--popotes);
}

.addButton {
  background-image: url("../assets/icons/plus-512.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 3em;
  height: 3em;
}

.removeButton {
  background-image: url("../assets/icons/moins-512.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 3em;
  height: 3em;
}

.doneButton {
  padding: 0.4em 1em;
  font-weight: bolder;
  font-size: 1.2em;
  color: var(--popote);
  background-color: transparent;
  border-radius: 30px;
  border: none;
}
