@media all and (max-width: 810px) {
}


.loginContainer {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.connexion {
  width: 100%;
  text-align: center;
  background-color: var(--dark);
  color: var(--popotes);
  font-family: "Oswald", sans-serif;
  font-size: 3em;
  font-weight: 400;
  padding: 0 0 0.5em;
margin: 1.3em 0 0 0;
}
.isFromCreateRecipe {
  width: 100%;
  text-align: center;
  color: var(--popotes);
  font-family: "Oswald", sans-serif;
  font-size: 3em;
  font-weight: 400;
  padding: 0 0 0.5em;
}

.loginField {
  margin-top: 2em;
}
.loginField .form {
  display: flex;
  flex-direction: column;
  font-size: 50px;
  width: 30vw;
  text-align: center;
  justify-content: center;
}
.loginField input {
  border: 1px solid #9fe6ff;
  background-color: rgb(238, 238, 238);
  border-radius: 3px;
  outline: none;
  padding: 3px;
}
.loginField input:focus {
  border: 3px solid var(--popotes);
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.mandatory {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin: 1em 0;
}

.loginDiv {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.creationAvatar {
display: flex;
justify-content: flex-start;
align-items: center;
gap: 1em;
}
.clickToChange {
  font-size: 0.8em;
  font-style: italic;
  color: var(--light-text);
}

.login {
  box-shadow: 3px 3px 10px -5px black;
  font-weight: bolder;
  margin-top: 1em;
  color: var(--popotes);
  background-color: var(--dark);
  border: none;
  cursor: pointer;
  padding: 0.4em 1em;
  border-radius: 25px;
}
.register {
  font-weight: bolder;
  margin-top: 1em;
  color: var(--dark-popotes);
  background-color: var(--white);
  border: none;
  cursor: pointer;
  padding: 0.4em 1em;
  border-radius: 25px;
}