/*
 * Responsive
 */
@media all and (max-width: 550px) {
  /* div.navbar {
    background-color: blue;
  } */
}

.navbar {
  display: flex;
  height: 4em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--dark);
}

/*
 * ________________________________________Home
 */
.homeNav {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../assets/icons/home-512.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 1em;
  width: 2em;
  height: 2em;
}

.activeIcon {
  filter: drop-shadow(0 0 10px var(--white));
}

/*
 * ________________________________________Profile
 */
.profileNav {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  background-image: url("../assets/icons/contacts-512.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 1em;
  width: 2em;
  height: 2em;
}

/*
 * ________________________________________Switch
 */
.switch {
  /* width was 60px */
  width: 5em;
  height: 34px;
  position: relative;
  display: inline-block;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  border-radius: 34px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  border-radius: 50%;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--switch);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked {
  background-color: var(--switch);
}
input:focus {
  box-shadow: 0 0 1px var(--switch);
}
input:checked + .slider:before {
  /* was translateX(26px) */
  -webkit-transform: translateX(46px);
  -ms-transform: translateX(46px);
  transform: translateX(46px);
  background-color: var(--switch);
}
