/*
 * Responsive
 */
@media all and (max-width: 550px) {
  /* div.navbar {
    background-color: blue;
  } */
}

.navbar {
  position: fixed;
  display: flex;
  width: 100%;
  height: 4em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999;
  background-color: var(--dark);
}

/*
 * ________________________________________Home
 */

 .activeIcon {
  filter: drop-shadow(0 0 10px var(--white));
}

.homeNav {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../assets/icons/home-512.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 1em;
  width: 2em;
  height: 2em;
}

.backNav {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 2.5em;
  background-image: url("../assets/icons/back.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 1em;
  width: 2em;
  height: 2em;
}
.backNav:hover {
  animation: backandforth .8s ease-in-out infinite;

}

.refreshNav {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 3em;
  background-image: url("../assets/icons/refresh.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 1em;
  width: 2em;
  height: 2em;
}
.refreshNav:hover {
  animation: roll .5s linear infinite;
}

@keyframes roll {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes backandforth {
  0% {
    left: 2.5em;
  }
  50% {
    left: 2.3em;
  }
  100% {
    left: 2.5em;
  }
}

/*
 * ________________________________________Profile
 */
.profileNav {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  background-image: url("../assets/icons/contacts-512.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 1em;
  width: 2em;
  height: 2em;
}
.notificationChip {
  position: relative;
  color: white;
  left: -.7em;
  top: -.7em;
  width: 1.5em;
  height: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .9em;
  background-color: red;
  border-radius: 50%;
}
/*
 * ________________________________________Switch
 */
.switch {
  /* width was 60px */
  width: 5em;
  height: 34px;
  position: relative;
  display: inline-block;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  border-radius: 34px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  border-radius: 50%;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--switch);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked {
  background-color: var(--switch);
}
input:focus {
  box-shadow: 0 0 1px var(--switch);
}
input:checked + .slider:before {
  /* was translateX(26px) */
  -webkit-transform: translateX(46px);
  -ms-transform: translateX(46px);
  transform: translateX(46px);
  background-color: var(--switch);
}

@keyframes clickBait {
  0% {
    box-shadow: none;
    background-color: none;
  }
  30% {
    box-shadow: 0 0 10px var(--dark-popote);
    background-color: var(--popote);
    --switch: var(--dark-popote);
  }
  60% {
    box-shadow: 0 0 10px var(--dark-popotes);
    background-color: var(--popotes);
    --switch: var(--dark-popotes);
}
  100% {
    box-shadow: none;
    background-color: none;
  }
}