@media all and (max-width: 810px) {
  .myprofileContainer {
    font-size: 0.9em !important;
  }
  .userInfos {
    width: 90% !important;
  }
}
@media all and (max-width: 400px) {
  .addPopote {
    width: 2em !important;
  }
  .mypopoteNames {
    font-size: 1.4em !important;
  }
  .popoteProfileHeader .avatar {
    width: 5em !important;
    height: 5em !important;
  }
}
@media all and (min-width: 500px) {
  .popoteContainer {
    height: 110vh !important;
  }
  .popoteProfile {
    width: 25em !important;
  }
}
/*
 * My Profile
 */
.modify {
  margin-top: 4em !important;
}
.myprofileBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: var(--white);
}
.myprofileBody p {
  margin: 0;
}

.mypopoteInfos {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em 1em;
  background-color: var(--popotes);
  gap: 0.5em;
}
.myprofileContainer {
  display: flex;
  margin: 2em;
  padding: 0.5em;
  width: 70%;
  height: fit-content;
  font-size: 1.2em;
}

.myprofileHeader {
  display: flex;
  justify-content: space-between;
}

/*
 * Popote profile
 */
.popoteContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popoteContainer ::selection {
  color: var(--white);
  background-color: var(--dark-popotes);
}

.popoteProfile {
  width: 90%;
  display: flex;
  border: 2px solid var(--dark-popotes);
  border-radius: 30px;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
  box-shadow: 0 0 10px grey;
}

.popoteProfileHeader {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1em 1em;
  background-color: var(--popotes);
  gap: 0.5em;
}

.closePopote {
  width: 1.5em;
  position: relative;
  top: -2.7em;
  left: .7em;
}

.popoteProfileHeader .avatar {
  width: 6em;
  height: 6em;
}
.mypopoteNames {
  font-size: 2em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  font-family: "Oswald", sans-serif;
  line-height: 1.2em;
  width: 55%;
}

.addPopote {
  cursor: pointer;
  align-self: flex-end;
  width: 1.5em;
}

.tabs {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.infosTab,
.messagesTab {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  font-family: "Oswald", sans-serif;
  border: 1px solid var(--dark-popotes);
  font-size: 1.2em;
  background-color: #adaaaa44;
  height: 2em;
  color: var(--dark);
}
.infosTab:hover,
.messagesTab:hover {
  background-color: #67d1ac96;
}
.activeTab {
  background-color: var(--dark-popotes);
  color: var(--white);
}

/*
 *_______________________________________________
 */

.popoteProfileInfosBody,
.popoteProfileMessagesBody {
  width: 100%;
  height: 25em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.popoteProfileInfosBody {
  justify-content: space-between;
}

.level {
  color: var(--dark-popotes);
  font-weight: 600;
  font-size: 2.5em;
  margin-top: 0.7em;
}

.levelInfos {
  color: var(--light-text);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 80%;
  margin: 2em 0;
}
.levelInfos li {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.levelInfos li p + p {
  color: var(--dark-popotes);
}
.levelInfos p {
  margin: 0;
  font-size: 1.6em;
}

/*
 *_______________________________________________
 */

.socialnetworks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  margin: 1em;
}
.socialnetworks .linkedin {
  cursor: pointer;
  width: 2em;
  height: 2em;
}
.socialnetworks .mail {
  cursor: pointer;
  width: 2.5em;
  height: 1.7em;
}
.instagram,
.snapchat {
  cursor: pointer;
  width: 2em;
  height: 2em;
}
.facebook {
  cursor: pointer;
  width: 1em;
  height: 2em;
}
/*
 *_______________________________________________
 */

.myprofileModifyButton {
  width: fit-content;
  margin: 1em 0 0;
  cursor: pointer;
  padding: 0.4em 1em;
  color: var(--white);
  font-weight: bolder;
  font-size: 1.2em;
  background-color: var(--dark-popotes);
  border-radius: 30px;
  border: none;
  box-shadow: 1px 1px 8px 1px #dcdcdc;
}
.disconnectButton {
  cursor: pointer;
  background-color: var(--white);
  border: none;
  margin: 1em 0;
  color: red;
  font-weight: bolder;
}
